<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script>
        function limpaCampo(){
    
        document.getElementById('nome').value = ''
        document.getElementById('sobrenome').value = ''
        document.getElementById('idade').value = ''
        document.getElementById('sexo').value = ''
        document.getElementById('pergunta').value = ''
        document.getElementById('email').value = ''
        }
        
        function atualizar(nome, sobrenome, idade, sexo, pergunta, email){
        
        let date = {nome, sobrenome, idade, sexo, pergunta, email}

        fetch("http://localhost:8080/admin/dados/edit/<%= idUrl %>?", {
            method: "PUT",
            body: JSON.stringify(date),
            headers: {"Content-type": "application/json; charset=UTF-8"}          
        }).then(function(response){
            
            if(!response.ok){
                response.json().then(erro => {
                      document.getElementById("alertErro").classList.remove("d-none")
                      document.getElementById("alertSuccess").classList.add("d-none")
                      document.getElementById("alertErro").innerHTML=erro.mensagem
                      console.log(erro)
                })
            }else{
                document.getElementById("alertErro").classList.add("d-none")
                document.getElementById("alertSuccess").classList.remove("d-none")
            }

        }).catch((error)=>{console.error(error)})
        }
</script>
    <title>CRUD-UPDATE</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs'); %>
    <div>
        <h1>Update</h1>
    </div>
    <h3>Nova Categoria:</h3>
        <div class="alert alert-danger d-none" id="alertErro">
        </div>
        <div class="alert alert-success d-none" id="alertSuccess">
            Salvo com sucesso
        </div>
    <div class="container mt-4">
        <div class="card">
            <main>
                <div class="conteinerTabela">
                    <table class="tab">
                        <tbody>
                            <tr>
                                <td colspan="2">Nome:
                                    <div class="conteinerInput">
                                       <input value= "<%= rows.dados_nome %>" type="text" class="input" id="nome" style="width: 80%"></input>
                                    </div>
                                </td>                        
                            </tr>
                            <tr>
                                <td colspan="2">Sobrenome:
                                    <div class="conteinerInput">
                                        <input value=<%= rows.dados_sobrenome %> type="text" class="input" id="sobrenome" style="width: 80%"></input>
                                    </div>
                                </td>                       
                            </tr>
                            <tr>
                                <td colspan="2">Idade:
                                    <div class="conteinerInput">
                                        <input value=<%= rows.dados_idade %> type="text" class="input" id="idade" style="width: 80%"></input>
                                    </div>
                                </td>                       
                            </tr>
                            <tr>
                                <td colspan="2">Sexo:
                                    <div class="conteinerInput">
                                        <input value=<%= rows. dados_sexo%> type="text" class="input" id="sexo" style="width: 80%"></input>
                                    </div>
                                </td>                       
                            </tr>
                            <tr>
                                <td colspan="2">Pergunta:
                                    <div class="conteinerInput">
                                        <input value=<%= rows.dados_pergunta %> type="text" class="input" id="pergunta" style="width: 80%"></input>
                                    </div>
                                </td>                       
                            </tr>
                            <tr>
                                <td colspan="2">Email:
                                    <div class="conteinerInput">
                                        <input value=<%= rows.dados_email %> type="text" class="input" id="email" style="width: 80%"></input>
                                    </div>
                                </td>                       
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="conteinerBotao">
                    <button class="btn btn-success" onclick="atualizar(document.getElementById('nome').value, 
                    document.getElementById('sobrenome').value, 
                    document.getElementById('idade').value, 
                    document.getElementById('sexo').value,
                    document.getElementById('pergunta').value, 
                    document.getElementById('email').value)">ATUALIZAR DADOS</button>
                </div>
            </main>
            <div>
                <a href="/admin/view"><button class="btn btn-success">Admins</button></a>
            </div>
            </div>
    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
</html>